$mainColor = #1A6DBD
$white     = #fff
html,body {
    width: 100%;
    height: 100%;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#app{
	.box-wrapper{
		.main-content{
			padding-top 46px;min-height calc(100% - 46px);
		}
	 	.van-nav-bar{
		 	background-color $mainColor
	 	}
	 	.van-icon{
			color $white;font-size 24px
	 	}
	 	.van-nav-bar__title{
	 		color $white;
	 	}
	 	.van-tab__pane{
	 		min-height 1rem
	 	}
	}
}