$mainColor = #1A6DBD
$white     = #fff
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#app{
	.box-wrapper{
		.van-pull-refresh{
	        min-height calc(100vh - 90px)
	        .van-pull-refresh__track{
	        	min-height calc(100vh - 90px)
	        }
	    }
		.main-content{
			padding-top 46px;min-height calc(100% - 46px);
		}
	 	.van-nav-bar{
		 	background-color $mainColor
	 	}
	 	.van-nav-bar{
	 		.van-icon{
				color $white;font-size 24px
		 	}
	 	}
	 	.r-text{
	 		color $white;
	 	}
	 	.van-nav-bar__title{
	 		color $white;
	 	}
		.van-nav-bar__right{
			.van-nav-bar__text{
				color $white;
			}
			.van-nav-bar__text:active{
				background-color $mainColor
			}
		}
	 	.van-tab__pane{
	 		min-height 1rem
	 	}
	}
}